body{
    background:green;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:blue;
    text-align: center;
}
.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightgray;
}

.assignment img{
    width:200px;
    padding:10px;
    
}
